// fonts
$montserrat-font: "Montserrat", "Arial", sans-serif;

// adaptive
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

//colors
$base-black: #333333;
$base-grey: #bdbdbd;
$base-white: #ffffff;
$base-primary: #7859cf;
$base-secondary:  #f0ebff;
$alt-primary-lighter: #9070ec;
$alt-primary-darker: #593cac;
$alt-primary-opacity: rgba(120, 89, 207, 0.25);
$alt-light-grey: #e2e2e2;
$bg-lightest-grey: #f8f8f8;
$bg-flat-white: #f3ebe1;
$bg-lavender-latte: #eae6fc;
$bg-espresso: #e5e6e8;
