.card {
  padding: 40px 20px 20px 18px;
  background-color: $base-white;
}

.card__image {
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.card__title {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 36px;
}

.card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.card__button {
  max-width: 200px;
}


