.catalog {
  background-color: $bg-lightest-grey;
  padding-top: 50px;
  padding-bottom: 44px;
}

.catalog__badge,
.catalog__title {
  margin: 0;
  padding: 0;
}

.catalog__badge {
  margin-bottom: 4px;
}

.catalog__title {
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.catalog__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.catalog__number-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.catalog__price-input {
  padding: 8px 10px;
  width: 118px;
  height: 40px;

  font-family: $montserrat-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  border: 2px solid $alt-primary-lighter;
  border-radius: 4px;
}

.catalog__number-wrapper::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 136px;
  display: block;
  width: 8px;
  height: 2px;
  background-color: $base-grey;
}

.catalog__filter-list {
  @include list;
}

.catalog__filter-item {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.catalog__filter-item:last-child {
  margin-bottom: 30px;
}

.catalog__control {
  margin: 0;
  margin-right: 10px;
  appearance: none;
  cursor: pointer;
}

.catalog__control--radio {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid $base-grey;
  border-radius: 50%;
  background-color: $base-white;
}

.catalog__control--radio:checked {
  border: 2px solid $base-primary;
}

.catalog__control--radio:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $base-primary;
}

.catalog__control--checkbox {
  width: 42px;
  height: 24px;
  background-color: $base-grey;
  border-radius: 12px;
}

.catalog__label--checkbox::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $base-white;
  cursor: pointer;
}


.catalog__control--checkbox:checked {
  background-color: $base-primary;
}

.catalog__control--checkbox:checked+.catalog__label--checkbox::before {
  left: 20px;
}

.catalog__label {
  font-size: 16px;
  line-height: 24px;
}

.catalog__buttons-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.catalog__filter-button {
  margin-bottom: 20px;
}

.catalog__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.catalog__subtitle--sort {
  margin: 0;
}

.catalog__select-control {
  padding: 4px 10px;
  width: 165px;
  min-height: 32px;

  font-family: $montserrat-font;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $base-primary;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catalog__cards-list {
  @include list;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}
