.catalog {
  background-color: $bg-lightest-grey;
  padding-top: 50px;
  padding-bottom: 44px;
}

.catalog__badge,
.catalog__title {
  margin: 0;
  padding: 0;
}

.catalog__badge {
  margin-bottom: 4px;
}

.catalog__title {
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.catalog__subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.catalog__number-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.catalog__price-input {
  padding: 8px 10px;
  width: 118px;
  height: 40px;

  font-family: $montserrat-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  border: 2px solid $alt-primary-lighter;
  border-radius: 4px;
}

.catalog__number-wrapper::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 136px;
  display: block;
  width: 8px;
  height: 2px;
  background-color: $base-grey;
}
