.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.container--header {
  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
    margin: 0;
  }
}
