.features {
  padding: 50px 0 60px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 120px;
  }
}

.features__badge,
.features__title,
.features__subtitle,
.features__description {
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.features__badge {
  margin-bottom: 4px;
  text-align: center;
}

.features__title {
  margin-bottom: 36px;

  font-size: 24px;
  line-height: 36px;
  text-align: center;


  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.features__subtitle {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.features__list {
  @include list;

  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 50px 30px;
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 0;
  }
}

.features__item {
  padding-top: 66px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 52px 56px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 72px;
    background-position: top left;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 76px;
    background-position: top center;
  }
}

.features__item--speed {
  background-image: url("../../images/icons/stack.svg#speed-icon");
}

.features__item--fit {
  background-image: url("../../images/icons/stack.svg#fit-icon");
}

.features__item--energy {
  background-image: url("../../images/icons/stack.svg#energy-icon");
}

.features__item--eco {
  background-image: url("../../images/icons/stack.svg#eco-icon");
}
