.footer__container {
  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 40px 20px 0 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    // grid-template-columns: 318px 317px 318px 317px;
    gap: 30px;
    width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 318px;
    margin-bottom: 0;
  }
}

.footer__logo {
  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.footer__divider {
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.footer__navigation-wrapper {
  width: 320px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
  }
}

.footer__navigation {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 223px 222px 223px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 317px 318px 317px;
  }
}

.footer__title {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;

  font-weight: 700;
  color: $base-primary
}

.footer__title--contacts {
  margin-bottom: 20px
}

.footer__list {
  @include list;
}

.footer__link {
  display: block;
  padding: 8px 0px;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: $base-black;
}

.footer__address {
  margin-bottom: 16px;
  padding-left: 19px;
  font-style: normal;

  background-image: url("../../images/icons/address-icon.svg");
  background-repeat: no-repeat;
  background-position: left 2px;
  background-size: 12px 16px;
}

.footer__tel {
  color: $base-black;
  padding-left: 19px;

  background-image: url("../../images/icons/phone-icon.svg");
  background-repeat: no-repeat;
  background-position: left 2px;
  background-size: 12px 16px;
}

.footer__developers-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 20px 20px 30px 20px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 30px 20px 40px 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 20px 40px 40px 40px;
  }
}

.footer__developer {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
}

.footer__developer-link {
  display: flex;
  align-items: center;
  margin-left: 3px;
  color: inherit;
}

.footer__developer-logo {
  margin-left: 4px;
}
