.header {
  background-color: $base-white;
  color: $base-black;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__main-container {
  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 768px;
    min-height: 80px;
    padding-left: 169px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-left: 364px;
    padding-right: 40px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.header__wrapper {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.header__logo {
  display: block;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 22px;
    left: 20px;
  }

  @media (min-width: $desktop-width) {
    left: 40px;
  }
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  min-height: 60px;
  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.header__link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 22px 10px;

  @media (min-width: $tablet-width) {
    min-height: 80px;
    padding: 32px 10px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 8px;
    padding: 32px 20px;
  }
}

.header__link:hover {
  @media (min-width: $desktop-width) {
    color: $base-primary;
  }
}

.header__link:hover .header__icon {
  fill: $base-primary;
}

.header__link:active {
  background-color: $base-secondary;
}

.header__icon {
  display: block;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.header__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
    text-transform: uppercase;
  }
}

.header__burger {
  display: inline-block;
  width: 60px;
  min-height: 60px;
  margin-right: -20px;

  border: none;
  background-color: $base-white;
  background-image: url("../../images/icons/close-icon.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__burger--closed {
  background-image: url("../../images/icons/burger-icon.svg");
  background-size: 16px 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__burger:active {
  background-color: $base-secondary;
}

.header__navigation {
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    margin-left: 154px;
  }
}

.header__navigation--closed {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.header__navigation--opened {
  display: block
}

.header__navigation-list {
  @include list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}


.header__navigation-item {
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.header__navigation-item:first-child {
  border-top: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.header__navigation-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.header__navigation-link {
  display: block;
  padding: 18px 10px;
  color: inherit;

  @media (min-width: $tablet-width) {
    padding: 31px 21px;
  }
}

.header__navigation-link:hover,
.header__navigation-link:focus {
  @media (min-width: $tablet-width) {
    color: $base-primary;
  }
}

.header__navigation-link--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $base-primary;
    color: $base-primary;
  }
}

.header__navigation-wrapper:active {
  background-color: $base-secondary;
}
