.logo {
  display: flex;
  gap: 20px;
}

.logo__link {
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.logo__image {
  display: block;
}

.logo__first-letter {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
  }
}

.logo__letters {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.logo__description {
  display: none;

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    display: block;
    width: 134px;
  }
}

.logo--footer .logo__link {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo--footer .logo__first-letter {
  display: inline;
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
}

.logo--footer .logo__letters {
  @media (min-width: $tablet-width) {
    display: inline;
  }
}
