.slider__container {
  position: relative;
}

.slider__slide {
  min-height: 656px;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: $bg-flat-white;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 0;
    min-height: 828px;
    background: linear-gradient(to top, $base-white 188px, $bg-flat-white 188px);
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    min-height: 714px;
    background: $bg-flat-white;
  }
}

.slider__image {
  display: block;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
    width: 600px;
    height: 100%;
  }
}

.slider__badge {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;

  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $base-primary;

  @media (min-width: $desktop-width) {
    margin-top: 150px;
    text-align: start;
  }
}

.slider__title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;

    font-size: 56px;
    line-height: 80px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.slider__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 20px;

    min-width: 200px;
    max-width: 610px;
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.slider__info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.slider__old-price {

  font-size: 16px;
  line-height: 200%;
  text-decoration: line-through;
  color: $base-primary;
}

.slider__new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.slider__button {
  position: absolute;
  top: 0;
  padding: 0;
  width: 40px;
  height: 656px;
  background-color: transparent;
  border: none;
  outline: 1px solid red;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }
}

.slider__button-icon {
  position: absolute;
  top: 318px;

  @media (min-width: $tablet-width) {
    top: 310px;
  }

  @media (min-width: $desktop-width) {
    top: 347px;
  }
}

.slider__button-icon--prev {
  left: 0;

  @media (min-width: $tablet-width) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.slider__button-icon--next {
  right: 0;

  @media (min-width: $tablet-width) {
    right: 50%;
    transform: translateX(50%);
  }
}

.slider__button--prev {
  left: 0;
}

.slider__button--next {
  right: 0;
}

.slider__pagination {
  display: none;
}

.slider__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}
