.socials {
  @include list;
  width: 160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 20px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  padding: 5px;
  border-radius: 4px;
}

.socials__link:hover,
.socials__link:focus-visible {
  background-color: $base-secondary;
}


.socials__link:hover .socials__icon,
.socials__link:focus-visible .socials__icon {
  fill: $base-primary;
}

.socials__link:active {
  background-color: $alt-primary-opacity;
}

.socials__link:active .socials__icon {
  fill: $base-primary;
}
